mixin section-about
	section.section.section-about#section-about(data-section-name="about")        
		.container
			.about
				.about__photo
					img(src="/images/person.jpg", alt="Photo")
				.about__container
					h2.title.big-letter.big-letter--K Кузнецов Виктор
					.section__text.text 
						p Здравствуйте, я архитектор – дизайнер. Специализируюсь на архитектурном проектировании и дизайне фасадов частного загородного жилья и общественных зданий по всей России и в других странах. Мой опыт это – 15 лет практики в проектировании и градостроительстве, и более 120 проектов жилой и коммерческой застройки. Благодаря большому опыту я знаю не только как надо проектировать и строить, но могу дать полную консультацию по всем необходимым инстанциям и согласованиям. 
						p Использую профессиональные программные комплексы 3D (объёмного) архитектурного моделирования AutoCAD, ArchiCAD, ArCon+                   