mixin nav
  nav.navigation
    ul.navigation__list#nav.pagination
      li.navigation__item(class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s"): a.navigation__link(href="#about") О себе
      li.navigation__item(class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s"): a.navigation__link(href="#works")  Портфолио
      li.navigation__item(class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.5s"): a.navigation__link(href="#project")  Проектирование
      li.navigation__item(class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="2s"): a.navigation__link(href="#building")  Строительство
      li.navigation__item(class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="2.5s"): a.navigation__link(href="#contacts")  Контакты